RewriteEngine On
RewriteBase /

# Redirigir todas las solicitudes que no corresponden a un archivo o directorio existente a tu controlador frontal (index.php en este caso)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]


