.seccion {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.seccion5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.contenido-centrado {
    max-width: 80rem;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.alto-min {
    min-height: 70vh;
}