// Tipografía
$fuente_principal: 'Montserrat', sans-serif;
$fuente_secundaria: 'Suez One', serif;

// Colores
$negro: #000;
$blanco: #fff;
$error: #D44E49;
$exito:  #2D882D;


// Colors to use instead black;
$oilBlack: #0C0C0C;
$obsidian: #0B1215;
$darkSlateGray: #0D1717;
$midnightBlue: #101720;
$charcoalGray: #171717;
$deepNavyBlue: #011222;
$richBlack: #020D19;

// Colors from the Buffalo cover
$fulvous: #E58517;
$fireBrick: #AC2C28;
$claro: #F0D4A5;
$letras: #EDEDED;

// Tamaños de mediaQueries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1500px;

$separacion: 5rem;



