.ancho-login {
  @include tablet {
    width: 50%;
  }
}
.seccion-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seccion-registro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    max-width: 50%;
  }
}
.acciones-login {
  text-align: center;
  a {
    color: $fireBrick;
    font-size: 2rem;
    margin-left: 1rem;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}
.usuario {
  color: $blanco;
  margin: 1rem 0;
}
