.contenedor-noticias {
  margin: 0 auto;
  @include desktop {
    @include grid(3, 2rem);
  }

}
.escala {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.noticia {
  background-color: lighten($claro, 15);
  border-radius: 3.75px;
  margin-bottom: 2rem;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  @include desktop {
    margin-bottom: 0;
  }
  &:hover {
    box-shadow: 0 0 20px 2px #ac2c28;
  }
  img {
    border-top-left-radius: 3.75px;
    border-top-right-radius: 3.75px;

  }

}
  .contenido-noticias {
    padding: 2rem;
    border: 1px solid $letras;

    h3 {
      margin-bottom: 2rem;
      color: $fireBrick;
      min-height: 10rem;
      display: flex;
      align-items: center;
    }
    h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .texto {
      font-size: 1.6rem;
      line-height: 1.8;
      min-height: 20rem;
  
    }
 
  }
.noticias-portada {
  width: 100%;
  margin: 0 auto;
  @include tablet {
    @include grid(2, 5rem);
  }
}
.fecha {
  font-style: italic;
  color: $fireBrick;
}
.enlace-negro {
  color: $negro;
  font-size: 2rem;
  text-decoration: underline;
  &:hover {
    color: $fireBrick;
  }
}