.contenedor-formulario {
  width: 90%;
  margin: 5rem auto;
    @include desktop{
    width: 50%;
  }
  a {
    font-weight: 600;
    color: $negro;
  }
  a:hover {
    text-decoration: underline;
  }
}
.formulario {
  border: 1px solid $oilBlack;
  border-radius: 3.75px;
  padding: 2rem;
  label {
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    color: $oilBlack;
  }

  input:not([type="submit"], input[type="checkbox"]),
  textarea,
  select {
    padding: 1rem;
    border-radius: 3.75px;
    border: 1px solid gainsboro;
    width: 100%;
  }
  textarea {
    min-height: 10rem;
    height: auto;
  }
  .campo {
    margin-top: 1rem;
  }
}
.privacidad {
  margin-top: 1rem;
  display: flex;

  input[type="checkbox"] {
    width: 1.5rem;
    margin-right: 2rem;
    accent-color: firebrick;
  }
  label {
    font-size: 1.5rem;
    @include tablet {
      font-size: 2rem;
    }
  }
}
