.contenido-filas {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.contenido-historia {
  display: grid;

  @include desktop {
    @include grid(2, 2rem);
    align-items: end;

 }
}


.texto-historia {
  @include desktop{
     max-height: 70rem;
     overflow: hidden;
  }
 

  h2 {
    color: $fireBrick;
  }
}
.musico {
  p {
    font-size: 1.6rem;
  }
}
.texto-historia-100 {
  margin-top: 2rem;
  max-height: 102rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  
  @include desktop{
    margin-top: 0;

  }
}
.caja-final {
  display: flex;
  flex-direction: column;
}
